---
import Layout from '../components/Layout.astro';
---

<Layout title="关于我">
  <main class="about-page">
    <section>
      <h1>关于我</h1>
      
      <div class="about-content">
        <p>你好！欢迎来到我的博客。</p>
        <p>我是一名热爱技术和写作的开发者。这个博客是我分享学习心得、技术经验和生活感悟的地方。</p>
        
        <h2>我的兴趣</h2>
        <ul>
          <li>嵌入式MCU开发</li>
          <li>数据结构设计</li>
          <li>算法实现</li>
          <li>学习新技术</li>
          <li>分享知识</li>
        </ul>
        
        <h2>联系方式</h2>
        <p>如果你有任何问题或想与我交流，可以通过以下方式联系我：</p>
        <p>邮箱：2934244109@qq.com</p>
      </div>
    </section>
  </main>
</Layout>

<link rel="stylesheet" href="/css/about.css">